/* This stylesheet is so endearingly ugly -J */

#body-color{
	background-color:#6699CC;
}

#Sign-In{
	margin:0;
	position:absolute;
	top:30%;
	left:50%;
	transform: translate(-50%, -50%);
	border:3px solid #a1a1a1;
	padding:9px 35px;
	background:#8000CC;
	width:400px;
	border-radius:20px;
	box-shadow: 7px 7px 6px;
}

#button{
	border-radius:10px;
	width:100px;
	height:40px;
	background:#FF00FF;
	font-weight:bold;
	font-size:20px
}